<div class = "width-70 center-with-margin">
  <% @posts.in_groups_of(3) do |post1, post2, post3| %>
    <div class="row">
      <% if post1 %>
        <div class="col-xs-12 col-md-4 margin-topbottom-20">
          <div class = "img">
            <%= image_tag (post1.photo), class: 'full-width full-height bradius-25' %>
          </div>
          <div>
            <%= post1.caption %>
          </div>
        </div>
      <% end %>

      <% if post2 %>
        <div class="col-xs-12 col-md-4 margin-topbottom-20">
          <div class = "img">
            <%= image_tag (post2.photo), class: 'full-width full-height bradius-25' %>
          </div>
          <%= post2.caption %>
        </div>
      <% end %>

      <% if post3 %>
        <div class="col-xs-12 col-md-4 margin-topbottom-20">
          <div class = "img">
            <%= image_tag (post3.photo), class: 'full-width full-height bradius-25' %>
          </div>
          <%= post3.caption %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
